<div class="container mt-4">
    <h3>Update toy</h3>
    <form method="POST" action="/toys/{{toy._id}}?_method=PUT">
        <div class="form-group">
            <label for="name-create">Name</label>
            <input type="text" class="form-control" value="{{toy.name}}" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="desciption-create">Description of this product</label>
            <input type="text" class="form-control" value="{{toy.description}}" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="image-create">Image link</label>
            <input type="text" class="form-control" value="{{toy.image}}" id="image" name="image">
        </div>
        <div class="form-group">
            <label for="price-create">Price</label>
            <input type="number" step=0.01 class="form-control" value="{{toy.price}}" id="price" name="price">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>