<div class="container mt-1">
    <div class="card-detail text-center">
        <div class="card-header">
            <h2>{{toy.name}}</h2>
        </div>
        <div class="card-body-detail">
            <img class="card-img-top" size="60%"src="{{toy.image}}" alt="{{toy.name}}" width="150px" height="950px">
            <h5 class="card-price">${{toy.price}}</h5>
            <h6 class="card-text">{{toy.description}}</h6>
            <p></p>
            <a href="#" class="btn btn-primary">Purchase now</a>
        </div>
    <div class="card-footer text-muted">{{toy.updateAt}}</div>
</div>